<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" action="/upload">
			<table>
        <tr><B>Using simple upload</B></tr>
				<tr>
          <td>File to upload:</td>
          <td><input type="file" name="file" /></td></tr>
				<tr>
          <td></td>
          <td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
		<form method="POST" enctype="multipart/form-data" action="/upload/multipart">
			<table>
        <tr><B>Using multipart</B></tr>
				<tr>
          <td>File to upload with multipart:</td>
          <td><input type="file" name="file" /></td></tr>
				<tr>
          <td></td>
          <td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
		<form method="POST" enctype="multipart/form-data" action="/upload/fileupload">
			<table>
        <tr><B>Using fileupload</B></tr>
				<tr>
          <td>File to upload with fileupload:</td>
          <td><input type="file" name="file" /></td></tr>
				<tr>
          <td></td>
          <td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>
